*.json
*.exe
*.user
*.db
*.db-shm
*.db-wal
*.opendb
*.vsidx
*.tlog
*.idb
*.pdb
*.obj
*.log
*.ilk
*.recipe
*.ipch
3rd_homework/.vs/3rd_homework/FileContentIndex/67e0c91e-1f92-4616-8657-5fdb158347d4.vsidx
3rd_homework/.vs/3rd_homework/v17/ipch/AutoPCH/7a7f9fb0cef502db/TICKET.ipch
3rd_homework/3rd_homework.sln
3rd_homework/3rd_homework/3rd_homework.vcxproj
3rd_homework/3rd_homework/3rd_homework.vcxproj.filters
3rd_homework/.vs/3rd_homework/v17/ipch/AutoPCH/42cde026c1d317f8/STUDENTTICKET.ipch
3rd_homework/.vs/3rd_homework/v17/ipch/AutoPCH/72c8a39b437a9ec0/GROUPTICKET.ipch
3rd_homework/.vs/3rd_homework/v17/.suo
3rd_homework/.vs/3rd_homework/v17/ipch/AutoPCH/4702aaea896fb3ae/TESTTICKETS.ipch
3rd_homework/.vs/3rd_homework/v17/ipch/AutoPCH/61dfd0918c13d4b8/STUDENT.ipch
3rd_homework/.vs/3rd_homework/v17/ipch/AutoPCH/84cc9a894e354e7c/FILTERSTUDENTDB.ipch
3rd_homework/.vs/3rd_homework/v17/ipch/AutoPCH/915a8f9f1e6e6c21/SORTEDSTUDENTDB.ipch
3rd_homework/.vs/3rd_homework/v17/ipch/AutoPCH/ca17505b15fea3b/TESTSTUDENTS.ipch
3rd_homework/.vs/3rd_homework/v17/ipch/AutoPCH/cd590748bdba72ea/STUDENTDB.ipch
3rd_homework/3rd_homework/x64/Debug/3rd_homework.vcxproj.FileListAbsolute.txt
3rd_homework/.vs/3rd_homework/v17/ipch/AutoPCH/330d8ac7c690d00c/TYRES.ipch
3rd_homework/.vs/3rd_homework/v17/ipch/AutoPCH/86d7553707cff4ac/CARPART.ipch
3rd_homework/.vs/3rd_homework/v17/ipch/AutoPCH/acdd38c3f6fd7ddd/ACCUMULATOR.ipch
3rd_homework/.vs/3rd_homework/v17/ipch/AutoPCH/ef5668bb6a5a4ca9/ENGINE.ipch
