*.json
*.exe
*.user
*.db
*.db-shm
*.db-wal
*.opendb
*.vsidx
*.tlog
*.idb
*.pdb
*.obj
*.log
*.ilk
*.recipe
3rd_homework/.vs/3rd_homework/FileContentIndex/67e0c91e-1f92-4616-8657-5fdb158347d4.vsidx
3rd_homework/.vs/3rd_homework/v17/ipch/AutoPCH/7a7f9fb0cef502db/TICKET.ipch
3rd_homework/3rd_homework.sln
3rd_homework/3rd_homework/3rd_homework.vcxproj
3rd_homework/3rd_homework/3rd_homework.vcxproj.filters
3rd_homework/.vs/3rd_homework/v17/ipch/AutoPCH/42cde026c1d317f8/STUDENTTICKET.ipch
3rd_homework/.vs/3rd_homework/v17/ipch/AutoPCH/72c8a39b437a9ec0/GROUPTICKET.ipch
3rd_homework/.vs/3rd_homework/v17/.suo
3rd_homework/.vs/3rd_homework/v17/ipch/AutoPCH/4702aaea896fb3ae/TESTTICKETS.ipch
